# Install pre-commit hooks via
# pre-commit install

exclude: >
    (?x)^(
      \.vscode/settings\.json|
      test.*\.md|
      test.*\.txt|
      test.*\.html|
      .*commonmark\.json|
      benchmark/.*\.md|
      .*/spec\.md
    )$

repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    - id: check-json
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace

  - repo: https://github.com/mgedmin/check-manifest
    rev: "0.39"
    hooks:
    - id: check-manifest

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    - id: flake8

  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    - id: black
